<ion-header>
  <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button [routerLink]="['/registro']">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="tittlelogin" >lista de api rest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="black">
  <ion-list class="lista">
    <ion-item color="black"  *ngFor="let comuna of comunas">
      <ion-label class="label" color="black">
      <ion-icon name="person-circle-outline"></ion-icon>
      {{comuna.name}}
      </ion-label>
      <ion-img [src]= "comuna.img"></ion-img>
      
      <ion-label class="label" >
      <ion-icon name="star-half-outline"></ion-icon>{{comuna.level}}</ion-label>
      <ion-button [routerLink]="['/registro']">Elijo este avatar</ion-button>
    </ion-item>
  </ion-list>



  
</ion-content>
