<ion-header>
  <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button [routerLink]="['/login']">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="tittlelogin" >Cambio de Clave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" class='fondologin' >
      <ion-slide class='fondologin' >
         <form class="form" >
            <img class="logoregistro" src="assets/logoregistro.png">
            <ion-item >
                  <ion-label position="floating">E-mail</ion-label>
                  <ion-input type="text" placeholder="Ej: Usuario@gmail.com" #txtemail></ion-input>
            </ion-item>
            <br>
            <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input type="password" placeholder="*********" #txtpassword></ion-input>
            </ion-item>
            <br>
            <ion-button (click) = "edit(txtemail, txtpassword)" expand="block">
                  Cambiar contraseña
            </ion-button>
         </form>
      </ion-slide>
</ion-content>