.fondologin{ 
    // background-image: url('../../assets/fondoregistro.jpg');
     background-color: rgb(255, 255, 255);
}
 
.item{
  height: 50px;
  border-radius: 200px;
  background-color: azure; 
}

.logoedit{
  width:200px;
  height:200px;
  border-radius:50px;
}