<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/index']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons><h2>Conductores Disponibles</h2>
  </ion-toolbar>
</ion-header>

<ion-content class='fondologin'>
  <div class='fondologin'>
      <ion-list class="fondologin">
        <div *ngFor="let item of listadoUser; let indice=index" class="fondologin">
          <ion-item class="item">
            #{{indice}}
            <ion-input type="number" disabled="true" >
              {{item[0].id}}
            </ion-input>
            <ion-icon name="car-sport-outline"> </ion-icon>
            <ion-input disabled="true">
              {{item[0].username}}
            </ion-input>
            <ion-input disabled="true">
              <ion-icon name="call-outline"></ion-icon>
              {{item[0].celular}}
            </ion-input>
            <ion-icon name="call-outline"></ion-icon>
            <ion-input type="text">
              {{item[0].email}}
            </ion-input>
            <ion-button color="success" [routerLink]="['/index']">
              <ion-icon name="caret-forward-outline"></ion-icon>
              Solicitar
            </ion-button>
          </ion-item>
        </div>
      </ion-list>
      <ion-slide class='fondologin' >
         <form class="form" >
            <ion-icon name="car-sport-outline"> </ion-icon>
            <h2>Elimina a un conductor</h2>
            <ion-item class="item">
                  <ion-label position="floating">E-mail</ion-label>
                  <ion-input type="text" placeholder="Ej: Usuario@gmail.com" #txtemail></ion-input>
            </ion-item>
            <br>
            <ion-item >
                  <ion-label position="floating">Comentario</ion-label>
                  <ion-input type="text" placeholder="Ej: No sabe manejar" ></ion-input>
            </ion-item>
            <br>
            <ion-button (click) = "eliminar(txtemail)" expand="block" color="danger">
              <ion-icon name="close-circle-outline"></ion-icon>
              Reportar Conductor
            </ion-button>
         </form>
      </ion-slide>
      <hr>
      <ion-slide class='fondologin' >
         <form class="form" >
            <ion-icon name="car-sport-outline"> </ion-icon>
            <h2>Informacion del Conductor</h2>
            <ion-item class="item">
                  <ion-label position="floating">E-mail</ion-label>
                  <ion-input type="text" placeholder="Ej: Usuario@gmail.com" #txtemail2></ion-input>
            </ion-item>
            <br>
            <div class='fondologin'>
              <ion-item class="" *ngIf="email">
                <ion-input type="text">nombre: {{username}}</ion-input>
                <ion-input type="text">email: {{email}}</ion-input>
                <ion-input type="text">rut: {{rut}}</ion-input>
                <ion-input type="text">celular: {{celular}}</ion-input>
              </ion-item>
              <br>
            </div>
            <ion-button (click) = "search(txtemail2)" expand="block" color="primary">
              <ion-icon name="close-circle-outline"></ion-icon>
              Info del conductor
            </ion-button>
         </form>
      </ion-slide>
  </div>
</ion-content>
