.fondologin{ 
    // background-image: url('../../assets/fondoregistro.jpg');
     background-color: rgb(255, 255, 255);
   }
.item{
    width:250px;
    height: 50px;
    border-radius: 200px;
    background-color: azure; 
}

h1{
    color:black;
}

.mapa{
    size: 180px;
    width:180px;
    height:180px;
}