<ion-header>
  <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-title class="titutotoolbar">inicio</ion-title>
          <ion-title class="titutotoolbar" *ngFor="let item of users">
            <ion-icon name="person-circle-outline"></ion-icon>
            {{item.user}}
          </ion-title>
        </ion-buttons>
        <ion-button (click)="logout()">Salir</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" class='fondologin'>
  <ion-slide class='fondologin'>
        <form class="form">
        <h2>Elige tu destino!</h2>
        <img class="mapa" src="assets/mapa.jpg">
        <br>
        <br>
        <ion-item >
          <ion-label  position="floating">Destino</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Punto partida</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <br>
        <ion-button [routerLink]="['/conductores']">Conductores disponibles</ion-button>
        <br>
        <ion-button color="secondary" class="boton" [routerLink]="['/comunas']">
              API REST
            </ion-button>
        </form>

      <ion-route url="/speakers" component="tab-speaker">
        <ion-route component="page-speaker-list"></ion-route>
        <ion-route url="/session/:sessionId" component="page-session"></ion-route>
        <ion-route url="/:speakerId" component="page-speaker-detail"></ion-route>
      </ion-route>
  </ion-slide>
</ion-content>
