<ion-header [translucent]="true">

</ion-header>

<ion-content fullscreen class="ion-padding" class='bgimagen'>

    <ion-slide class='bgimagen'>
          <div class="slide">
            <h2>CONECTWORLD</h2>
            <div class="square">
              <img class='imgRedonda' src="https://e7.pngegg.com/pngimages/78/621/png-clipart-car-department-of-motor-vehicles-computer-icons-intermediary-blue-driving.png"/>
            </div>  
              <p>La aplicación <b>CONECTWORLD</b> te llevará seguro</p>
            <ion-button color="secondary" [routerLink]="['/login']">
              Comencémos
            </ion-button>
            </div>
    </ion-slide>
    
    <ion-fab  vertical="top"  horizontal="end" slot="fixed">
      <ion-fab-button >
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button [routerLink]="['/registro']"><ion-icon name="person-outline"></ion-icon></ion-fab-button>
        <ion-fab-button [routerLink]="['/conductores']"><ion-icon name="document-text-outline"></ion-icon></ion-fab-button>
        <ion-fab-button [routerLink]="['/login']"><ion-icon name="clipboard-outline"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>

</ion-content>
