<ion-header>
  <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button [routerLink]="['/login']">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="tittlelogin" >Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" class='fondologin' >
      <ion-slide class='fondologin' >
         <form class="form" >
            <img class="logoregistro" src="assets/logoregistro.png">
            <br>
            <ion-item class="item" >
                  <ion-label position="floating">Nombre y Apellido</ion-label>
                  <ion-input type="text" placeholder="Ej: Dayan Castro" #txtusername></ion-input>
            </ion-item>
            <br>
            <ion-item >
                  <ion-label position="floating">E-mail</ion-label>
                  <ion-input type="text" placeholder="Ej: Usuario@gmail.com" #txtemail></ion-input>
            </ion-item>
            <br>
            <ion-item >
                  <ion-label position="floating">Rut (sin puntos y con guion)</ion-label>
                  <ion-input type="text" placeholder="Ej: 20446642-7" #txtrut></ion-input>
            </ion-item>
            <br>
            <ion-item >
                  <ion-label position="floating">Celular</ion-label>
                  <ion-input type="number" placeholder="Ej: 985648495" #txtcelular></ion-input>
            </ion-item>
            <br>
            <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input type="password" placeholder="*********" #txtpassword></ion-input>
            </ion-item>
            <br>
            <ion-button (click) = "agregar(txtusername, txtemail, txtrut, txtcelular, txtpassword)" expand="block">
                  Registrar
            </ion-button>
            <ion-button  color="primary"[routerLink]="['/comunas']">
              <ion-icon name="game-controller-outline"></ion-icon>
              <ion-label>Selecciona tu avatar</ion-label>
            </ion-button>
         </form>
      </ion-slide>
</ion-content>







