<ion-header>
  <ion-toolbar color="black">
        <ion-buttons slot="start">
          <ion-button [routerLink]="['/home']">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" class="fondologin">

      <ion-slide class='fondologin'>
         <form class="form">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcvfSlef5AjJiu2zmQCq8v4kRDfuYCy_1QgPXtQ4KVk4adGjknk3XbTJR4P0hGFrk-qsI&usqp=CAU">
            <ion-item >
                  <ion-label position="floating">Nombre y Apellido</ion-label>
                  <ion-input type="text" placeholder="Ej: Dayan Castro" #txtusername></ion-input>
            </ion-item>
            <br>
            <ion-item >
                  <ion-label position="floating">E-mail</ion-label>
                  <ion-input type="text" placeholder="Ej: Usuario@gmail.com" #txtemail></ion-input>
            </ion-item>
            <br>
            <ion-item >
                  <ion-label position="floating">Rut (sin puntos y con guion)</ion-label>
                  <ion-input type="text" placeholder="Ej: 20446642-7" #txtrut></ion-input>
            </ion-item>
            <br>
            <ion-item >
                  <ion-label position="floating">Celular</ion-label>
                  <ion-input type="number" placeholder="Ej: 985648495" #txtcelular></ion-input>
            </ion-item>
            <br>
            <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input type="password" placeholder="*********" #txtpassword></ion-input>
            </ion-item>
            <hr>
            <ion-button (click) = "agregar(txtusername, txtemail, txtrut, txtcelular, txtpassword)" expand="block">
                  Registrar
            </ion-button>
            <hr>
         </form>
      </ion-slide>


</ion-content>